<br>
<nav class="navbar navbar-light bg-light ">
  <a class="navbar-brand" href="/users/login">Home</a>
  <a class="navbar-brand" href="/users/profile">Profile</a>
  <a class="navbar-brand" href="/forms/addForm">Submit forms</a>
  <a class="navbar-brand" href="/forms">All my forms</a>
  <a class="navbar-brand" href="/users/userManagement">Admin</a>
<a style="float:right" href="/users/logout" class="btn btn-secondary">Logout</a>
</nav>
<br>

<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Welcome to the dashboard</h5>
          </div>
        </div>
      </div>
    </div>