
 <script>
  $("#about").click(function(){
  $(document).scrollTop(600) 
  });

  $("#contactUs").click(function(){
  $(document).scrollTop(600) 
  });
</script>


<div >
  <nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand" href="#home">Home</a>
    <a class="navbar-brand" href="#about">About Us</a>
    <a class="navbar-brand" href="#contactUs">Contact us</a>
    <a class="navbar-brand" href="#HelpUs">Help Us</a>
  <a style="float:right" href="/users/login" class="btn btn-secondary">Log In</a>
  <a style="float:right" href="/users/register" class="btn btn-secondary">Sign Up</a>
  <a style="float:right" href="/users/userManagement" class="btn btn-secondary">Admin Dashboard</a>

  </nav>
</div>


<div class="jumbotron text-center">
  <h1 class="display-3">Happy Xmas </h1>
  <p class="lead">We give the magic of the Holiday Season to a family in need!</p>
  <p >So feel free to fill out the form and we will be there to help</p>
  <a href="/forms/addForm" class="btn btn-dark btn-lg">Submit a form  ---> </a>
</div>


<div class="Image">
    <img src="https://images.unsplash.com/photo-1513980297158-ac7902b06406?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" style="width:100% "alt="">
  </div>
 
  <br><br>
  <br><br>
  <div class="text-center"id = "about">
    <h2>About Us </h2>
    <br>
    <br>
    <p>We are here to help you!</p>
    <p> We are a Non-profitable Organization that helps people in need. We like to bring happines in these holidays. </p>
    <p>We try to keep people safe and healthy. We are for the community.</p>

  </div>
  <br><br><br><br>
  <div class="text-center" id = "HelpUs">
    <h2>Help Us</h2>
    <br>
    <h3>How can we help?</h3>
    <br>
    <p>1- Submit a form.</p>
    <p>2- Share this link with anyone.</p>
    <p>3- Be one of Us</p>
    


  </div>
  <br><br><br><br>
  <div class="text-center" id = "contactUs">
    <h2>Contact Us</h2>
    <h3>Email: xmas@Non-profitable.org</h3>
  </div>
  

