<html>
    <head>
        <title>Profile</title>
    
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-15">
                    <div class="panel panel-default">
                        <br>
                        <nav class="navbar navbar-light bg-light ">
                        <a class="navbar-brand" href="/users/login">Home</a>
                        <a class="navbar-brand" href="/forms/addForm">Submit forms</a>
                        <a class="navbar-brand" href="/forms">All my forms</a>
                        <a style="float:right" href="/users/logout" class="btn btn-secondary">Logout</a>
                        </nav>
                        <div class="panel-body" style="padding-left: 30%; padding-top: 5%;">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80"  class="img-responsive img-thumbnail">
                                </div>
                                <div class="col-md-5">



</html>