
<br><br>
<nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand" href="/users/login">Home</a>
    <a class="navbar-brand" href="#about">Profile</a>
    <a class="navbar-brand" href="/forms/addForm">Submit forms</a>
    <a class="navbar-brand" href="/forms">All my forms</a>
  <a style="float:right" href="/users/logout" class="btn btn-secondary">Logout</a>
  </nav>
  <br><br>
<h3 style="text-align:center">Edit Form</h3>
<br>
<div class="card card-body col-sm-5" style="width:800px; margin:0 auto;">
    <form action="/forms/editForm/" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" name="name" id="name" class="form-control" value="<%= form.name %>">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="address" name="address" id="address" class="form-control" value="<%= form.address %>">
        </div>
        <div class="form-group">
            <label for="phone">Phone No.</label>
            <input type="text" name="phone" id="phone" class="form-control" value="<%= form.phone %>">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <input type="details" name="details" id="details" class="form-control" value="<%= form.details %>">
        </div>
        <div class="form-group">
            <label for="submit">Update</label>
            <input type="submit" class="form-control" >
        </div>

    </form>
</div>

